* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background-color: green;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  padding: 40px;
}

#card {
  background-color: #fff;
  width: 320px;
  aspect-ratio: 2/3;
  border-radius: 16px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}

.heart .suit,
.diamond .suit {
  color: red;
}

#card .suit:first-child {
  top: 0px;
  left: 20px;
}

#card .suit:last-child {
  bottom: 10px;
  right: 20px;
}

.suit {
  font-size: 120px;
  position: absolute;
}

.rank {
  font-size: 180px;
}

#generatorButton {
  padding: 10px 15px;
  background-color: #424242;
  color: #fff;
  border: none;
  font-size: 14px;
  font-weight: bold;
  border-radius: 8px;
  margin-top: 30px;
  cursor: pointer;
}

.controls-container {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  padding: 14px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  width: 260px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
  font-family: "Roboto", sans-serif;
}

.controls-container p {
  margin: 0;
  font-weight: bold;
  font-size: 12px;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.inputGroup input {
  font-size: 15px;
}
